<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src="/bootstrap.min.js"></script>
</head>
<body>
    <%-include('header.ejs') %>
    <div class="main-page">
        <div class="container">
            <div class="row justify-content-md-center">      
                <div class="col-xs-12 col-md-5 mx-1 my-3 p-3 bg-body rounded shadow">
                    <h6 class="border-bottom pb-2 mb-0">알림판</h6>
                    <div class="d-flex text-body-secondary pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-text-light position-relative">총 <%- totalCount %>개 법인 &nbsp;
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"><%- countTermEnd %></span>
                                </strong>
                                <a href="/profile">확인하기</a>
                            </div>
                        <span class="d-block"><%- countTermEnd %>개 법인이 안내가 필요합니다.</span>
                        </div>
                    </div>
                    <div class="d-flex text-body-secondary pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-dark">신규등록</strong>
                                <a href="/register">등록하기</a>
                            </div>
                            <span class="d-block">신규 법인 정보를 등록할 수 있습니다.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-5 mx-1 my-3 p-3 bg-body rounded shadow">
                    <h6 class="border-bottom pb-2 mb-0">최근 등록 법인</h6>
                    <div class="d-flex text-body-secondary pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <% if(lists[0]){ %>
                            <span class="d-block"><a href="/detail/<%=(lists[0].id)%>"><%=(lists[0].corp)%></a></span>
                            <% }%>
                        </div>
                    </div>
                    <div class="d-flex text-body-secondary pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <% if(lists[1]){ %>
                            <span class="d-block"><a href="/detail/<%=(lists[1].id)%>"><%=(lists[1].corp)%></a></span>
                            <% }%>
                        </div>
                    </div>
                    <div class="d-flex text-body-secondary pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <% if(lists[2]){ %>
                            <span class="d-block"><a href="/detail/<%=(lists[2].id)%>"><%=(lists[2].corp)%></a></span>
                            <% }%>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-10 mx-1 my-3 p-3 bg-body rounded shadow">
                    <h6 class="border-bottom pb-2 mb-0">회원 관리</h6>
                    <div class="d-flex text-body-secondary pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <strong class="text-gray-text-light position-relative">총 <%- totalUser %>명의 회원 &nbsp;
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"><%- newUser %></span>
                                </strong>
                                <a href="/user">확인하기</a>
                            </div>
                        <span class="d-block"><%- newUser %>명의 회원이 가입승인을 기다리고 있습니다!</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center pt-5">
                <div class="col-md-5 pt-5">
                    <h2 class="featurette-heading fw-normal lh-1">회사 별 임원의 임기 관리</h2>
                    <p class="lead">회원가입 후, 관리자의 승인이 완료되면 사이트를 통한 임기정보 관리와 안내가 가능합니다.</p>
                    <p><a style="color: #272D38;" href="./login"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/> </svg></a></p>
                </div>
                <div class="col-md-5"><img src ="/images/pencile.png" alt="큰 연필을 나눠서 드는 사람들"\ width="400px" height="400px"></div>
            </div>
            <div class="py-4">
                <div class="col-lg-6 mx-auto text-center"> 
                    <p>회원승인이 완료된 후..</p>
                    <h2 class="fw-bold">가능한 업무 목록은 다음과 같습니다.</h2>
                </div>
                <div class="row justify-content-center pt-5">
                  <div class="col-lg-3 can-job p-3 m-3">
                    <img src ="/images/human1.png" alt="사람1"\ width="130px" height="130px">
                    <p class="fs-5">회사 관리</p>
                    <p class="pt-3">'회사' 페이지에서 각 회사 별 정보 확인과 수정, 검색이 가능합니다. 상호를 클릭하면 '상세 페이지' 로 이동합니다.</p>
                  </div>
                  <div class="col-lg-3 can-job p-3 m-3">
                    <img src ="/images/human2.png" alt="사람1"\ width="130px" height="130px">
                    <p class="fs-5">회사 입력</p>
                    <p class="pt-3">'등록' 페이지에서 신규 회사의 정보와 담당 직원의 연락처 정보 입력이 가능합니다.</p>
                  </div>
                  <div class="col-lg-3 can-job p-3 m-3">
                    <img src ="/images/human3.png" alt="사람1"\ width="130px" height="130px">
                    <p class="fs-5">임기 알림</p>
                    <p class="pt-3">'회사' 페이지의 회사 상호를 클릭해 회사 '상세 페이지'에서 상담 기록과 카카오톡 안내가 가능합니다.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('footer.ejs') %>
</body>
</html>